<a href="https://colab.research.google.com/github/rigolabbe/desafioLATAMg69/blob/main/RAL_Desaf%C3%ADo_Manipulaci%C3%B3n_y_transformaci%C3%B3n_de_datos_prt_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Paradesarrollar este desafío necesitarás los siguientes archivos:
 ● incidents.pkl
 ● officers.pkl
 ● subjects.pkl

In [3]:
#IMPORTAMOS LAS LIBRERIAS PARA TRABAJAR
import pandas as pd
import numpy as np
# libreria para trabajar archivos
import pickle as pk

# PREGUNTA A. Carga los datos y crea un DataFrame con cada uno de ellos.
df_incidents = pd.read_pickle("/content/sample_data/incidents.pkl")
#print(df_incidents)

df_officers = pd.read_pickle("/content/sample_data/officers.pkl")
#print(df_officers)

df_subjects = pd.read_pickle("/content/sample_data/subjects.pkl")
#print(df_subjects)

b. Genera una tabla que contenga la unión de las 3 tablas. hint: utiliza sufijos para para las
 columnas que se llaman igual usando el parámetro suffixes de pd.merge().

In [5]:
#verificar nulos por conflictos
#df_incidents.isnull().sum()
#df_officers.isnull().sum()
#df_subjects.isnull().sum()

data_merged = pd.merge(df_incidents,df_officers, on="case_number", how="inner")

# suffixes  se utiliza porque existen dos nombres de campos  case
data_merged = pd.merge(data_merged , df_subjects,  on="case_number", suffixes=("_officers", "_subjects"))
data_merged

,case_number,date,location,subject_statuses,subject_weapon,subjects,subject_count,officers,officer_count,grand_jury_disposition,...,race_officers,gender_officers,last_name_officers,first_name_officers,full_name_officers,race_subjects,gender_subjects,last_name_subjects,first_name_subjects,full_name_subjects
0,44523A,2013-02-23,3000 Chihuahua Street,Injured,Handgun,"Curry, James L/M",1,"Patino, Michael L/M; Fillingim, Brian W/M",2,No Bill,...,L,M,Patino,Michael,"Patino, Michael",L,M,Curry,James,"Curry, James"
1,44523A,2013-02-23,3000 Chihuahua Street,Injured,Handgun,"Curry, James L/M",1,"Patino, Michael L/M; Fillingim, Brian W/M",2,No Bill,...,W,M,Fillingim,Brian,"Fillingim, Brian",L,M,Curry,James,"Curry, James"
2,121982X,2010-05-03,1300 N. Munger Boulevard,Injured,Handgun,"Chavez, Gabriel L/M",1,"Padilla, Gilbert L/M",1,No Bill,...,L,M,Padilla,Gilbert,"Padilla, Gilbert",L,M,Chavez,Gabriel,"Chavez, Gabriel"
3,605484T,2007-08-12,200 S. Stemmons Freeway,Other,Shotgun,"Salinas, Nick L/M",1,"Poston, Jerry W/M",1,See Summary,...,W,M,Poston,Jerry,"Poston, Jerry",L,M,Salinas,Nick,"Salinas, Nick"
4,384832T,2007-05-26,7900 S. Loop 12,Shoot and Miss,Unarmed,"Smith, James B/M; Dews, Antonio B/M; Spearman,...",3,"Mondy, Michael B/M",1,None,...,B,M,Mondy,Michael,"Mondy, Michael",B,M,Smith,James,"Smith, James"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,165193-2016,2016-07-07,801 Main Street,Deceased,Assault Rifle,"Johnson, Micah B/M",1,"Edwards, Henry W/M; Wells, Giovanni B/M; Junge...",12,None,...,W,M,Michaels,Mark,"Michaels, Mark",B,M,Johnson,Micah,"Johnson, Micah"
373,165193-2016,2016-07-07,801 Main Street,Deceased,Assault Rifle,"Johnson, Micah B/M",1,"Edwards, Henry W/M; Wells, Giovanni B/M; Junge...",12,None,...,W,M,Borchardt,Jeremy,"Borchardt, Jeremy",B,M,Johnson,Micah,"Johnson, Micah"
374,165193-2016,2016-07-07,801 Main Street,Deceased,Assault Rifle,"Johnson, Micah B/M",1,"Edwards, Henry W/M; Wells, Giovanni B/M; Junge...",12,None,...,W,M,Craig,Robert,"Craig, Robert",B,M,Johnson,Micah,"Johnson, Micah"
375,165193-2016,2016-07-07,801 Main Street,Deceased,Assault Rifle,"Johnson, Micah B/M",1,"Edwards, Henry W/M; Wells, Giovanni B/M; Junge...",12,None,...,W,M,Cannon,Elmar,"Cannon, Elmar",B,M,Johnson,Micah,"Johnson, Micah"
376,165193-2016,2016-07-07,801 Main Street,Deceased,Assault Rifle,"Johnson, Micah B/M",1,"Edwards, Henry W/M; Wells, Giovanni B/M; Junge...",12,None,...,B,M,Stuart,Kristopher,"Stuart, Kristopher",B,M,Johnson,Micah,"Johnson, Micah"

 c. Verifica si hay filas duplicadas; si es así, elimínalas.

In [16]:
#verificamos la cantidad de filas  y columnas
data_merged.info()
# Noexisten  columnas duplicadas
# verificacmos las filas duplicadas
data_merged.duplicated()
# para asegurarnos eliminamos las filas si existen duplicadas
data_merged.drop_duplicates()

,case_number,date,location,subject_statuses,subject_weapon,subjects,subject_count,officers,officer_count,grand_jury_disposition,...,race_officers,gender_officers,last_name_officers,first_name_officers,full_name_officers,race_subjects,gender_subjects,last_name_subjects,first_name_subjects,full_name_subjects
0,44523A,2013-02-23,3000 Chihuahua Street,Injured,Handgun,"Curry, James L/M",1,"Patino, Michael L/M; Fillingim, Brian W/M",2,No Bill,...,L,M,Patino,Michael,"Patino, Michael",L,M,Curry,James,"Curry, James"
1,44523A,2013-02-23,3000 Chihuahua Street,Injured,Handgun,"Curry, James L/M",1,"Patino, Michael L/M; Fillingim, Brian W/M",2,No Bill,...,W,M,Fillingim,Brian,"Fillingim, Brian",L,M,Curry,James,"Curry, James"
2,121982X,2010-05-03,1300 N. Munger Boulevard,Injured,Handgun,"Chavez, Gabriel L/M",1,"Padilla, Gilbert L/M",1,No Bill,...,L,M,Padilla,Gilbert,"Padilla, Gilbert",L,M,Chavez,Gabriel,"Chavez, Gabriel"
3,605484T,2007-08-12,200 S. Stemmons Freeway,Other,Shotgun,"Salinas, Nick L/M",1,"Poston, Jerry W/M",1,See Summary,...,W,M,Poston,Jerry,"Poston, Jerry",L,M,Salinas,Nick,"Salinas, Nick"
4,384832T,2007-05-26,7900 S. Loop 12,Shoot and Miss,Unarmed,"Smith, James B/M; Dews, Antonio B/M; Spearman,...",3,"Mondy, Michael B/M",1,None,...,B,M,Mondy,Michael,"Mondy, Michael",B,M,Smith,James,"Smith, James"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,165193-2016,2016-07-07,801 Main Street,Deceased,Assault Rifle,"Johnson, Micah B/M",1,"Edwards, Henry W/M; Wells, Giovanni B/M; Junge...",12,None,...,W,M,Michaels,Mark,"Michaels, Mark",B,M,Johnson,Micah,"Johnson, Micah"
373,165193-2016,2016-07-07,801 Main Street,Deceased,Assault Rifle,"Johnson, Micah B/M",1,"Edwards, Henry W/M; Wells, Giovanni B/M; Junge...",12,None,...,W,M,Borchardt,Jeremy,"Borchardt, Jeremy",B,M,Johnson,Micah,"Johnson, Micah"
374,165193-2016,2016-07-07,801 Main Street,Deceased,Assault Rifle,"Johnson, Micah B/M",1,"Edwards, Henry W/M; Wells, Giovanni B/M; Junge...",12,None,...,W,M,Craig,Robert,"Craig, Robert",B,M,Johnson,Micah,"Johnson, Micah"
375,165193-2016,2016-07-07,801 Main Street,Deceased,Assault Rifle,"Johnson, Micah B/M",1,"Edwards, Henry W/M; Wells, Giovanni B/M; Junge...",12,None,...,W,M,Cannon,Elmar,"Cannon, Elmar",B,M,Johnson,Micah,"Johnson, Micah"
376,165193-2016,2016-07-07,801 Main Street,Deceased,Assault Rifle,"Johnson, Micah B/M",1,"Edwards, Henry W/M; Wells, Giovanni B/M; Junge...",12,None,...,B,M,Stuart,Kristopher,"Stuart, Kristopher",B,M,Johnson,Micah,"Johnson, Micah"

d. ¿Cuántos sujetos de género F hay en el DataFrame resultante? hint: usa el método .value_counts() sobre la columna.

In [32]:
data_merged["gender_subjects"].value_counts()
# se encuentran 9 sujetos de genro F en dataset resultante

M    368
F      9
Name: gender_subjects, dtype: int64

 e. ¿Encuántos números de caso hay por lo menos una sospechosa que sea mujer? hint:
 utiliza el método unique() para obtener los valores únicos de una columna específica de
 un DataFrame luego de filtrar.

In [40]:
# primero filtramos el Dataframe para obtener solo los registros de sexo F
 #  data_merged.head()
mujeres = data_merged[data_merged["gender_subjects"] =="F"]
# Obtenemos los valores unicos de los numeros de casos donde sospechosas son mujeres SON 7 CASOS
mujeres["case_number"].unique()

array(['106454R', '8025N', '266130-2015', '344699X', '143473-2014',
       '129379Z', '132104Z'], dtype=object)

f.
 Genera una tabla pivote que muestre el número de casos por mes en la fila y por año en
 las columnas. hint: genere columnas de tipo fecha con pd.to_datetime(). ¿Se ve alguna
 relación entre mes del año y cantidad de casos?

In [57]:
#  Convertir a tipo fecha  y agregamos las columnas de mes y año al DF
data_merged =  data_merged.assign(mes= pd.to_datetime(data_merged['date']).dt.month)    # .dt.month.name()
data_merged =  data_merged.assign(año= pd.to_datetime(data_merged['date']).dt.year)

# creamos la tabla pivote  contando los casos
data_merged.pivot_table(index = "mes", columns = "año", values ="case_number", aggfunc ="count")

#
#

año,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
mes,,,,,,,,,,,,,,
1,2.0,2.0,NaN,1.0,1.0,1.0,2.0,NaN,NaN,NaN,7.0,4.0,NaN,NaN
2,NaN,1.0,1.0,7.0,1.0,NaN,NaN,3.0,NaN,7.0,7.0,3.0,1.0,NaN
3,1.0,8.0,1.0,1.0,5.0,8.0,3.0,7.0,2.0,6.0,3.0,NaN,NaN,1.0
4,1.0,4.0,NaN,2.0,NaN,1.0,NaN,1.0,NaN,NaN,3.0,4.0,NaN,1.0
5,1.0,1.0,2.0,2.0,9.0,5.0,4.0,1.0,1.0,9.0,1.0,1.0,NaN,NaN
6,8.0,1.0,NaN,NaN,3.0,3.0,NaN,2.0,2.0,2.0,3.0,6.0,18.0,2.0
7,4.0,2.0,NaN,NaN,1.0,4.0,NaN,NaN,1.0,2.0,2.0,2.0,4.0,14.0
8,2.0,NaN,1.0,NaN,3.0,4.0,NaN,NaN,NaN,3.0,NaN,7.0,9.0,1.0
9,NaN,1.0,NaN,3.0,2.0,2.0,4.0,NaN,NaN,NaN,5.0,1.0,3.0,NaN
10,7.0,1.0,NaN,NaN,NaN,NaN,3.0,1.0,1.0,2.0,4.0,2.0,NaN,NaN
11,3.0,NaN,2.0,8.0,NaN,NaN,1.0,8.0,3.0,1.0,1.0,NaN,5.0,NaN
12,NaN,3.0,4.0,NaN,NaN,2.0,15.0,2.0,5.0,3.0,1.0,1.0,NaN,NaN

g. Genera una tabla pivote que muestre en las filas el género del oficial y en las columnas el
 género del subject. ¿Cómo interpretas los valores que muestra esta vista?

In [92]:
# creamos la tabla pivote  contando los generos
data_merged.pivot_table(index = "gender_officers", columns = "gender_subjects" )

#df_jobs.pivot_table(index = "Size", columns = "Salario Maximo", values ="Salario Minimo", aggfunc = "median")

<ipython-input-92-c2946aed61fb>:2: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  data_merged.pivot_table(index = "gender_officers", columns = "gender_subjects" )

                         año                latitude             longitude  \
gender_subjects            F            M          F          M          F
gender_officers
F                2008.000000  2010.000000  32.673195  32.783109 -96.861649
M                2010.857143  2009.905714  32.772767  32.781692 -96.803273

                                 mes           officer_count            \
gender_subjects          M         F         M             F         M
gender_officers
F               -96.791109  3.000000  7.055556      1.500000  3.666667
M               -96.783873  6.857143  6.477143      1.142857  3.565714

                subject_count
gender_subjects             F         M
gender_officers
F                    1.500000  1.055556
M                    1.285714  1.051429

Para continuar con el desarrollo de este desafío, necesitarás el archivos
 Cleaned_DS_Jobs.csv

In [61]:
 #Cleaned_DS_Jobs.csv
 #a. Carga los datos y crea un DataFrame con ellos.
df_jobs = pd.read_csv("/content/sample_data/Cleaned_DS_Jobs.csv")
df_jobs

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,...,company_age,python,excel,hadoop,spark,aws,tableau,big_data,job_simp,seniority
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,...,27,0,0,0,0,1,0,0,data scientist,senior
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,...,52,0,0,1,0,0,0,1,data scientist,na
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,...,39,1,1,0,0,1,0,0,data scientist,na
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,...,20,1,1,0,0,1,0,0,data scientist,na
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,...,22,1,1,0,0,0,0,0,data scientist,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,Data Scientist,105-167,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,...,31,1,1,1,0,0,1,1,data scientist,na
656,Data Scientist,105-167,Job Description\nBecome a thought leader withi...,0.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,...,-1,0,0,0,0,0,0,0,data scientist,na
657,Data Scientist,105-167,Join a thriving company that is changing the w...,0.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,...,-1,1,1,1,0,0,1,0,data scientist,na
658,Data Scientist,105-167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,...,-1,1,0,1,1,0,0,1,data scientist,na
659,Data Scientist,105-167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,...,44,1,1,0,0,0,1,0,data scientist,na

b. Utiliza la siguiente lista de valores que serán considerados como nulos:
 ["na", "NA",-1, "0", "-1", "null", "n/a", "N/A", "NULL"]
 (hint: utiliza el método replace para reemplazar los valores indicados por np.nan)

In [62]:
#   ultima pregunta del desafio se puede realizar con esta funciones

diccionario = {
    "na":"nulos",
    "NA":"nulos",
    -1:"nulos",
    "0":"nulos",
    "-1":"nulos",
    "null":"nulos",
    "n/a":"nulos",
    "N/A":"nulos",
    "NULL":"nulos"
}

df_jobs= df_jobs.replace(diccionario)
df_jobs

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,...,company_age,python,excel,hadoop,spark,aws,tableau,big_data,job_simp,seniority
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,...,27,0,0,0,0,1,0,0,data scientist,senior
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,...,52,0,0,1,0,0,0,1,data scientist,nulos
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,...,39,1,1,0,0,1,0,0,data scientist,nulos
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,...,20,1,1,0,0,1,0,0,data scientist,nulos
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,...,22,1,1,0,0,0,0,0,data scientist,nulos
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,Data Scientist,105-167,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,...,31,1,1,1,0,0,1,1,data scientist,nulos
656,Data Scientist,105-167,Job Description\nBecome a thought leader withi...,0.0,JKGT,"San Francisco, CA",nulos,nulos,nulos,nulos,...,nulos,0,0,0,0,0,0,0,data scientist,nulos
657,Data Scientist,105-167,Join a thriving company that is changing the w...,0.0,AccessHope,"Irwindale, CA",nulos,nulos,nulos,nulos,...,nulos,1,1,1,0,0,1,0,data scientist,nulos
658,Data Scientist,105-167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,...,nulos,1,0,1,1,0,0,1,data scientist,nulos
659,Data Scientist,105-167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,...,44,1,1,0,0,0,1,0,data scientist,nulos

c. Elimina todas las filas con datos faltantes. (hint: utiliza el método .dropna())

In [63]:
# borramos los daatos nan y lo dejamos en el mismo df
df_jobs = df_jobs.dropna()
df_jobs

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,...,company_age,python,excel,hadoop,spark,aws,tableau,big_data,job_simp,seniority
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,...,27,0,0,0,0,1,0,0,data scientist,senior
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,...,52,0,0,1,0,0,0,1,data scientist,nulos
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,...,39,1,1,0,0,1,0,0,data scientist,nulos
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,...,20,1,1,0,0,1,0,0,data scientist,nulos
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,...,22,1,1,0,0,0,0,0,data scientist,nulos
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,Data Scientist,105-167,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,...,31,1,1,1,0,0,1,1,data scientist,nulos
656,Data Scientist,105-167,Job Description\nBecome a thought leader withi...,0.0,JKGT,"San Francisco, CA",nulos,nulos,nulos,nulos,...,nulos,0,0,0,0,0,0,0,data scientist,nulos
657,Data Scientist,105-167,Join a thriving company that is changing the w...,0.0,AccessHope,"Irwindale, CA",nulos,nulos,nulos,nulos,...,nulos,1,1,1,0,0,1,0,data scientist,nulos
658,Data Scientist,105-167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,...,nulos,1,0,1,1,0,0,1,data scientist,nulos
659,Data Scientist,105-167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,...,44,1,1,0,0,0,1,0,data scientist,nulos

d. Apartir de la columna “Salary Estimate”, genera dos columnas: Salario Estimado Mínimo
 y Máximo. (hint: Utiliza el método apply sobre la columna.)

In [64]:

def get_salmin(registro):
  separacion = registro.split("-")
  return separacion[0]  # este 0 es porque es el primer elemento de la separacion

def get_salmax(registro):
  separacion = registro.split("-")
  return separacion[1]  # este  [1] seria el segundo elemento de la separacion

#aca  creamnos las columnas nuevas al df y asignamos los vaores segun las funciones creadas
df_jobs["Salario Minimo"] = df_jobs["Salary Estimate"].apply(get_salmin)
df_jobs["Salario Maximo"] = df_jobs["Salary Estimate"].apply(get_salmax)
df_jobs

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,...,excel,hadoop,spark,aws,tableau,big_data,job_simp,seniority,Salario Minimo,Salario Maximo
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,...,0,0,0,1,0,0,data scientist,senior,137,171
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,...,0,1,0,0,0,1,data scientist,nulos,137,171
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,...,1,0,0,1,0,0,data scientist,nulos,137,171
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,...,1,0,0,1,0,0,data scientist,nulos,137,171
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,...,1,0,0,0,0,0,data scientist,nulos,137,171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,Data Scientist,105-167,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,...,1,1,0,0,1,1,data scientist,nulos,105,167
656,Data Scientist,105-167,Job Description\nBecome a thought leader withi...,0.0,JKGT,"San Francisco, CA",nulos,nulos,nulos,nulos,...,0,0,0,0,0,0,data scientist,nulos,105,167
657,Data Scientist,105-167,Join a thriving company that is changing the w...,0.0,AccessHope,"Irwindale, CA",nulos,nulos,nulos,nulos,...,1,1,0,0,1,0,data scientist,nulos,105,167
658,Data Scientist,105-167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,...,0,1,1,0,0,1,data scientist,nulos,105,167
659,Data Scientist,105-167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,...,1,0,0,0,1,0,data scientist,nulos,105,167

 e. Realiza la recodificación de la columna Size con los valores de la siguiente tabla: (hint:
 utilice reemplazo con diccionario usando el método replace sobre la columna.)

In [65]:
#   ultima pregunta del desafio se puede realizar con esta funciones

diccionario = {
    "10000+ employees":"Mega Empresas",
    "5001 to 10000 employees":"Grandes Empresas",
    "1001 to 5000 employees":"Medianas Empresas",
    "201 to 500 employees":"Pequeñas Empresas",
    "51 to 200 employees":"Pequeñas Grandes Empresas",
    "501 to 1000 employees":"Microempresas",
    "Unknown": "Empresas sin Información"

}

df_jobs= df_jobs.replace(diccionario)
df_jobs

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,...,excel,hadoop,spark,aws,tableau,big_data,job_simp,seniority,Salario Minimo,Salario Maximo
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",Medianas Empresas,Nonprofit Organization,Insurance Carriers,...,0,0,0,1,0,0,data scientist,senior,137,171
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",Grandes Empresas,Company - Public,Research & Development,...,0,1,0,0,0,1,data scientist,nulos,137,171
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",Medianas Empresas,Private Practice / Firm,Consulting,...,1,0,0,1,0,0,data scientist,nulos,137,171
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",Microempresas,Company - Public,Electrical & Electronic Manufacturing,...,1,0,0,1,0,0,data scientist,nulos,137,171
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",Pequeñas Grandes Empresas,Company - Private,Advertising & Marketing,...,1,0,0,0,0,0,data scientist,nulos,137,171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,Data Scientist,105-167,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",Medianas Empresas,Company - Private,Advertising & Marketing,...,1,1,0,0,1,1,data scientist,nulos,105,167
656,Data Scientist,105-167,Job Description\nBecome a thought leader withi...,0.0,JKGT,"San Francisco, CA",nulos,nulos,nulos,nulos,...,0,0,0,0,0,0,data scientist,nulos,105,167
657,Data Scientist,105-167,Join a thriving company that is changing the w...,0.0,AccessHope,"Irwindale, CA",nulos,nulos,nulos,nulos,...,1,1,0,0,1,0,data scientist,nulos,105,167
658,Data Scientist,105-167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,...,0,1,1,0,0,1,data scientist,nulos,105,167
659,Data Scientist,105-167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",Medianas Empresas,Company - Public,Wholesale,...,1,0,0,0,1,0,data scientist,nulos,105,167

f. Fnalmente, genera una tabla pivote que muestre la media del salario estimado mínimo y
 la media del salario estimado máximo por tamaño de empresa. (hint: utiliza
 pd.pivot_table para generar la vista adecuada con las columnas generadas.)

In [90]:
# creamos la tabla pivote  contando los casos

df_jobs.pivot_table(index = "Size", columns = "Salario Maximo", values ="Salario Minimo", aggfunc = "median")

#df_jobs.pivot_table(index = "Salario Minimo", columns = "año", values ="case_number", aggfunc ="count")

Salario Maximo,106,109,112,116,119,123,124,131,132,133,...,165,167,171,198,201,225,225,331,56,97
Size,,,,,,,,,,,,,,,,,,,,,
1 to 50 employees,79.0,90.0,66.0,69.0,95.0,71.0,90.0,75.0,80.0,79.0,...,101.0,105.0,137.0,124.0,128.0,145.0,141.0,212.0,31.0,NaN
Empresas sin Información,NaN,NaN,NaN,NaN,NaN,NaN,90.0,NaN,80.0,79.0,...,NaN,NaN,NaN,124.0,128.0,145.0,141.0,212.0,NaN,56.0
Grandes Empresas,79.0,90.0,66.0,112.0,NaN,71.0,90.0,79.0,99.0,NaN,...,101.0,105.0,137.0,124.0,128.0,145.0,NaN,212.0,31.0,56.0
Medianas Empresas,79.0,90.0,66.0,112.0,95.0,71.0,90.0,75.0,99.0,79.0,...,101.0,105.0,137.0,124.0,128.0,145.0,141.0,212.0,31.0,56.0
Mega Empresas,79.0,90.0,66.0,90.5,95.0,71.0,90.0,75.0,80.0,79.0,...,101.0,105.0,137.0,124.0,NaN,145.0,141.0,212.0,31.0,56.0
Microempresas,79.0,90.0,66.0,69.0,95.0,71.0,90.0,75.0,99.0,79.0,...,101.0,105.0,137.0,124.0,128.0,145.0,141.0,212.0,31.0,56.0
Pequeñas Empresas,79.0,90.0,66.0,112.0,95.0,71.0,90.0,75.0,80.0,79.0,...,101.0,105.0,137.0,124.0,128.0,145.0,141.0,212.0,31.0,56.0
Pequeñas Grandes Empresas,79.0,90.0,66.0,69.0,95.0,71.0,90.0,79.0,99.0,79.0,...,NaN,105.0,137.0,124.0,128.0,145.0,141.0,212.0,31.0,56.0
nulos,NaN,90.0,NaN,69.0,95.0,NaN,NaN,NaN,NaN,NaN,...,101.0,105.0,NaN,NaN,128.0,NaN,NaN,212.0,NaN,NaN

Warning: Total number of columns (27) exceeds max_columns (20) limiting to first (20) columns.